section {
  background-color: black;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(20, 20, 20, 1);
}

button{
    width: 55%;
    margin-top: 150px;
}

h1{
    font-size: 50px;
    margin-top: 50px;
}