<body class="mat-app-background">
  <header>
    <button
      mat-flat-button
      color="accent"
      (click)="sidenav.toggle()"
      id="sidenav-toggle"
    >
      User top artists
    </button>
    <h1>Spotify user data</h1>
    <span id="avatar"
      ><img
        src="../../assets/deafult-profile-picture.png"
        alt="profile_picture"
        id="profile_picture"
        (click)="openDialog()"
    /></span>
  </header>
  <mat-sidenav-container class="user-top-artist-container">
    <mat-sidenav #sidenav mode="side">
      <app-user-top-items></app-user-top-items>
    </mat-sidenav>

    <mat-sidenav-content>
      <h2>
        Total playlists:
        <span id="total_playlists">{{ playlists?.total }}</span>
      </h2>
      <app-playlist-box></app-playlist-box>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
